.footer {
  background-image: linear-gradient(to left, #0f3075 0%, #0d185e 100%);

  &__inner {
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-lg {
      justify-content: center;
    }
  }

  &__link {
    margin-right: 73px;
    display: inline-block;
    list-style-type: none;
    color: $white-color;
    font-size: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-weight: $medium;
    transition: 0.4s all ease;
    &:hover {
      color: $primary-color;
    }
    &:last-child {
      margin: 0;
    }
    a {
      color: inherit;
    }
  }

  &__nav {
    @include media-lg {
      display: none;
    }
  }
} // footer

.copyright {
  &__text {
    color: $white-color;
    font-family: "Lato";
    font-size: 16px;
    font-weight: $regular;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
  &__link {
    color: $white-color;
    font-weight: $bold;
    text-transform: none;
  }
}
